

.Projects{ 
    height: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    border-color: black;
    border-style: solid;
    
    }
    p{
        color:rgb(4, 34, 49);
        font-weight: bold;
        &:hover{
            z-index: 1;
            color:rgb(36, 43, 146);
        }
    }

    h1{
       color: rgb(18, 29, 61);
       font-weight: bold;
       font-size: large;
       &:hover{
        font-size: xx-large;
       }}
    

    .Ecommerce{
        display: flex;
        color:rgb(12, 11, 15);
        font-size: 30px;
        font-weight: bold;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        margin: 5px;
        background-color: rgba(79, 100, 70, 0.493);
        background-image: url(https://media.istockphoto.com/id/1428709516/photo/shopping-online-woman-hand-online-shopping-on-laptop-computer-with-virtual-graphic-icon.webp?b=1&s=170667a&w=0&k=20&c=ZhlW6F6fSu42EG13PO0hkgV0L-MqHipJm1hT0yaRl9U=);
        border-radius: 10px;
        z-index: 5;

        &:hover{
            opacity: .3;
        }
    }
    .Turtle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        margin: 5px;
        background-color: rgba(79, 100, 70, 0.493);
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXRn4mBhGvfMbhFnTcpr0xOHMhDm7EiY0FLROlsvRd8JoLowNWugONmsmnrAnPpGGkfdc&usqp=CAU);
        border-radius: 10px;
        z-index: 5;

        &:hover{
            opacity: .3;
        }
    }
    .Goose{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        margin: 5px;
        background-color: rgba(236, 241, 234, 0.493);
        border-radius: 10px;
        z-index: 5;

        &:hover{
            opacity: .3;
        }
    }
    .Daves{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        z-index: 5;
        margin:5px;
        border-color: aqua;
        border-style: solid;
        background-color: rgba(79, 100, 70, 0.493);
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8wVeQVmry3w7pz6mfcokwZdzCwk20Tsq9iQ&usqp=CAU);
        border-radius: 10px;
        &:hover{
            opacity: .3;
        }
    }
    .Lena{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        z-index: 5;
        margin:5px;
        background-color: rgba(79, 100, 70, 0.493);
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUpYe0FHXU_j6023uyXdUxTpdVrCQnx5-AbQ&usqp=CAU);
        border-radius: 10px;
        &:hover{
            opacity: .5;
            
        }
    }
    .Shop{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        z-index: 5;
        margin:5px;
        background-color: rgba(79, 100, 70, 0.493);
        background-image: url(https://georgiagoose-next-ecommerce.s3.amazonaws.com/1700504738016.png);
        border-radius: 10px;
        &:hover{
            opacity: .5;
            
        }
    }
    .Dash{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 40%;
        z-index: 5;
        margin:5px;
        background-image: url(https://georgiagoose-next-ecommerce.s3.amazonaws.com/1700504738016.png);
        background-color: rgba(79, 100, 70, 0.493);
        border-radius: 10px;
        &:hover{
            opacity: .5;
            
        }
    }
    img {
        overflow: hidden;
        width: fit-content;
        margin-top: 10px;
        &:hover{
            border-radius: 20%;
        }
    }